{
  "rules": {
    "max-len": [ 1, { "code": 100 } ],
    "space-before-function-paren": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "keyword-spacing": ["error", {
      "overrides": {
        "if": {
          "after": false
        },
        "for": {
          "after": false
        },
        "while": {
          "after": false
        },
        "switch": {
          "after": false
        }
      }
    }]
  },
  "env": {
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
  ],
  "globals": {"Promise": true},
}
